* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #fff;
  color: #0b132a;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 80px;
  margin: 10px 300px;
  width: 70%;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 30px;
  height: 30px;
}

.logo-word {
  font-weight: bold;
  font-size: 18px;
}

.nav-center a {
  margin: 0 15px;
  text-decoration: none;
  color: #4f5665;
  font-size: 20px;
  font-weight: medium;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.signin {
  text-decoration: none;
  color: #0b132a;
  font-weight: bold;
}

.signup {
  padding: 15px 35px;
  border-radius: 25px;
  border: none;
  background: #f53838;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 80px;
}

.hero-text {
  max-width: 500px;
}

.hero-text h1 {
  font-size: 42px;
  line-height: 1.3;
  margin-bottom: 20px;
  font-weight: bold;
}

.hero-text span {
  font-weight: 700;
}

.hero-text p {
  color: #4f5665;
  margin-bottom: 30px;
  font-weight: medium;
}

.gsb {
  padding: 15px 45px;
  border: none;
  border-radius: 10px;
  background: #f53838;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

.hero-image img {
  max-width: 450px;
}

.stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 40px 300px;
  padding: 40px 0;
  border-radius: 15px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.08);
  width: 70%;
  align-content: center;
}

.stat {
  display: flex;
  align-items: center;
  gap: 15px;
}

.stat img {
  width: 40px;
  height: 40px;
}

.stat h3 {
  font-size: 20px;
}

.stat p {
  font-size: 14px;
  color: #4f5665;
}
